body {
  background-color: cadetblue;
  color: white;
}
h1 {
  text-align: center;
}
.todo-wrapper {
  background-color: #353534;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);
  margin-bottom: 50px;
}
.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(78, 78, 78);
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.todo-input-item {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.todo-input-item label {
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-input-item input {
  padding: 10px;
  width: 250px;
}
.todo-input-item input:focus {
  border: 2px solid rgb(0, 230, 122);
  outline: none;
}
.primaryBtn {
  background-color: rgb(0, 230, 122);
  color: white;
  border: none;
  border-radius: 0px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
  margin-top: 27px;
}
.primaryBtn:hover {
  background-color: rgb(4, 196, 106);
  color: white;
}
.secondaryBtn {
  background-color: rgb(71, 71, 71);
  color: white;
  border: none;
  border-radius: 0px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  margin-top: 27px;
}
.active {
  background-color: rgb(0, 230, 122);
  color: white;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list-item {
  background-color: #414040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgb(43, 42, 42);
}
.btn-area {
  margin-bottom: 15px;
}
.todo-list-item h3 {
  font-size: 25px;
  color: rgb(0, 230, 122);
  font-weight: bold;
  margin: 0;
}
.todo-list-item p {
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin-top: 8px;
}
.delete-icon {
  cursor: pointer;
  font-size: 25px;
}
.delete-icon:hover {
  color: red;
}
.check-icon {
  cursor: pointer;
  font-size: 25px;
  margin-left: 10px;
  color: rgb(0, 230, 122);
}
.check-icon:hover {
  color: rgb(4, 196, 106);
}
